*{
  margin: 0 auto;
  outline: none;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Joan', serif;
  font-size: 16px;
  color: white;
  text-decoration: none;
  list-style: none;
}
body{
  background-color: dimgray;
  // display: block;
}
.app{
  width: 1200px;

}